@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    overflow-x: hidden;
    height: 6000px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #ff003c;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #641711;
}